
.adddata{
    margin: 2% 3% 2%;
    display: flex;
}
.form{
    float: left;
    width: 20%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.151);
    justify-content: center;
     padding: 30px;
     border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-size: x-large;
}
input[type="text"]{
    font-size: x-large;
    margin: 2% 0 1%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
}
input[type="submit"]{
    font-size: x-large;
    border: none;
    border-radius: 10px;
    margin: 2% 0 1%;
    background-color: green;
    color: white;
    
}
textarea{
    font-size: x-large;
    margin: 2% 0 1%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
}

.show{
    display: flex;
    width: 80%;
    margin: 0 5% 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 10px;
}
.show h1{
    text-align: center;
}
.card{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}